{% extends 'flatpages/default.html' %}
{% load static %}

{% block content %}
    <div class="users">
        <div class="users-block">
        {% for user in users %}
            {% if user != request.user %}
            <div class="user">
                <div class="img-div">
                    <img src="{% if user.user_admin %}{{ user.user_admin.photo.url }}{% else %}{% static 'images/nophoto.jpg' %}{% endif %}">
                </div>
                <div class="text-div">
                    <div class="name">{% if user.user_admin %}Автор {{ user.user_admin.username }}{% else %}Пользователь не является автором{% endif %}
                        <div>Пользователь {{ user.username }}</div>
                    </div>
                    <a href="{% url 'create_dialog' user.pk %}">Написать сообщение пользователю {{ user.username }}</a>
                </div>
                <div class="info-author">
                    <div class="name">Рейтинг {{ user.user_admin.rating }}
                        <div>Посты   {{ user.user_admin.posts.all|length }}</div>
                    </div>

                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock content %}
