<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

{% block content %}
<div class="col-lg-8 px-md-5 py-5">

	    				<div class="row pt-md-4">
	    					<h1 class="mb-3">{{ post.heading }}</h1>
							{% for i in cats %}<p>{{i}}</p>{% endfor %}
		            <p>{{ post.text }}</p>
		            <p>
		              <img src="{{ post.image.url }}" alt="" class="img-fluid">
		            </p>
		            <p>{{ post.text2 }}</p>
<!--		            <div class="tag-widget post-tag-container mb-5 mt-5">-->
<!--		              <div class="tagcloud">-->
<!--		                <a href="#" class="tag-cloud-link">Life</a>-->
<!--		                <a href="#" class="tag-cloud-link">Sport</a>-->
<!--		                <a href="#" class="tag-cloud-link">Tech</a>-->
<!--		                <a href="#" class="tag-cloud-link">Travel</a>-->
<!--		              </div>-->
<!--		            </div>-->

		            <div class="about-author d-flex p-4 bg-light">
		              <div class="bio mr-5">
		                <img src="{{ post.author.photo.url }}" alt="Image placeholder" class="img-fluid mb-4">
		              </div>
		              <div class="desc">
		                <h3>{{ post.author.username }}</h3>
						  <h5>Рейтинг {{ post.author.rating }}</h5>
		                <p>{{ post.author.description }}</p>
		              </div>
		            </div>
					<div class="tag-widget post-tag-container mb-5 mt-5">
						<p> Рейтинг поста: {{ post.rating_post }}</p>
		              <div class="tagcloud">
		                <a href="{% url 'like' post.pk %}" class="tag-cloud-link">Нравится 👍</a>
		                <a href="{% url 'dislike' post.pk %}" class="tag-cloud-link">Не нравится 👎</a>
		              </div>
					</div>
		            <div class="pt-5 mt-5">
		              <h3 class="mb-5 font-weight-bold">Комментарии ({{ comments|length }})</h3>
		              <ul class="comment-list">
						  {% for com in comments %}
							<li class="comment">
							  <div class="vcard bio">
								<img src="{{ com.user.user_admin.photo.url }}">
							  </div>
							  <div class="comment-body">
								<h3>{{ com.user }}</h3>
								<div class="meta">{{ com.time_create_comment }}</div>
								<p>{{ com.comment }}</p>
								  {% if request.user == com.user %}
<!--								  <a href="{% url 'comment_del' com.pk %}">Удалить комментарий</a>-->
								  <a href="javascript:void()" onclick="delete_question{{com.pk}}()">Удалить</a>
								  <form id="delete_form{{com.pk}}" action="{% url 'comment_del' com.pk %}" method="post">{% csrf_token %}</form>
								  <script>
									  function delete_question{{com.pk}}() {
										  if (confirm("Вы уверены")) {
											  document.getElementById('delete_form{{com.pk}}').submit()
										  }
									  }
									  </script>
								  {% endif %}
							  </div>
							</li>
						  {% endfor %}


		              <div class="comment-form-wrap pt-5">
		                <h3 class="mb-5">Оставить комментарий</h3>
						  {% if form %}
		                <form id="comment_form" action="{% url 'comment_add' post.pk %}" class="p-3 p-md-5 bg-light" method="post">
		                 	{% csrf_token %}
		                  <div class="form-group">
		                    <label for="id_comment">Комментарий</label>
							  <textarea cols="40" rows="10" name="comment" id="id_comment" class="form-control" id="name"></textarea>
		                  </div>
							<div class="form-group">
	                			<input type="submit" value="Добавить комментарий" class="btn btn-primary py-3 px-5">
	              			</div>
		                </form>
						  {% endif %}
		              </div>
					  </ul>
					</div>
       </div>
</div>
{% endblock content %}